{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="mb-4">Lista de Equipos Médicos</h2>

    <div class="mb-3 text-end">
        <a href="{% url 'registrar_equipo' %}" class="btn btn-success">
            + Registrar Nuevo Equipo
        </a>
    </div>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Estado</th>
            <th>Ubicación</th>
            <th>Serie</th>
            <th>Fabricante</th>
            <th>Fecha de adquisición</th>
            <th>Mantenimiento preventivo</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.modelo }}</td>
                <td>{{ equipo.get_estado_display }}</td>
                <td>{{ equipo.ubicacion }}</td>
                <td>{{ equipo.numero_serie }}</td>
                <td>{{ equipo.fabricante }}</td>
                <td>{{ equipo.fecha_adquisicion }}</td>
                <td>{{ equipo.mantenimiento_preventivo }}</td>
                <td>
                    {% if equipo.imagen %}
                        <img src="{{ equipo.imagen.url }}" alt="Imagen del equipo" width="100">
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9" class="text-center">No hay equipos registrados.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}